.parent {
  flex-direction: column;
}
.scrollable {
  width: 48vw;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}
.scrollable::-webkit-scrollbar {
  display: none;
}
.tweetpic img {
  width: 48px;
  height: auto;
  border-radius: 100%;
}
.tweetbox {
  margin-top: 20px;
  font-family: "Open Sans";
  display: flex;
  background-color: #15202b;
  width: 45vw;
  height: auto;
  color: white;
}
.tweetcontent {
  width: 45vw;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 40px;
}
.tweethead {
  margin: initial;
  display: flex;
  p {
    font-family: "Open Sans";
  }
}
.tweetname {
  margin: initial;
  font-weight: 700;
}
.tweetid {
  color: gray;
  margin-left: 10px;
}
.tweetpic {
  margin: 10px;
}
.tweetScore {
  display: flex;
  padding-top: 10px;
  p {
    text-align: center;
    font-family: "Open Sans";
  }
}
