* {
  margin: 0 auto;
}

.parent {
  width: 100vw;
  min-height: 100vh;
  height: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0f0e17;
  position: relative;
}

html {
  height: -webkit-fill-available;
}

h1 {
  font-family: "Inter";
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(95deg, #fdc830, #f37335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "Ubuntu";
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -30%;
}

.section1 p {
  margin-top: 1.25rem;
}

.section1 .form {
  width: 18.75rem;
  height: 3.125rem;
  border-radius: 2rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section1 .form input[type="text"] {
  width: 12.5rem;
  height: 1.25rem;
  outline: none;
  border: 0rem;
  font-size: 1.25rem;
  font-family: "Ubuntu";
}

.section1 .form img:hover {
  cursor: pointer;
}

.submitsvg {
  width: 20;
  height: 21;
}

footer {
  width: 8.125rem;
  position: absolute;
  bottom: 0.625rem;
  font-size: 1.25rem;
}

footer .detail {
  font-weight: 200;
  color: #909090;
}

footer .name {
  margin-top: 0.3125rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  margin-top: -20%;
}

.about h1 {
  margin: 0 0 0 1.875rem;
  text-align: left;
  font-size: 2.75rem;
}

.about p {
  margin: 1.875rem 1.875rem 0 1.875rem;
  font-size: 1.25rem;
  font-weight: 200;
  text-align: justify;
}

.about p a {
  color: #f48134;
  font-weight: 500;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95vh;
  margin: 0rem 0.9375rem 0rem 0.9375rem;
  text-align: center;
  margin-top: -5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resultheader {
  white-space: pre-line;
}

.resultheader p {
  margin: 1.25rem 0rem 0.625rem 0rem;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 19.375rem;
  height: 3.125rem;
  background-color: #f48134;
  border-radius: 0.5rem;
  margin: 8% 0rem 0.625rem 0rem;
}

.notenough {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  height: 50vh;
}

.notenough h2 {
  font-family: "Inter";
  color: white;
}

.desktopText {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobileText {
    display: none;
  }
  .desktopText {
    display: block;
  }
  h1 {
    font-size: 4.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  .section1 {
    margin-top: -15%;
  }
  .section1 p {
    margin-top: 1.5625rem;
    font-size: 1.5625rem;
  }
  .section1 .form {
    width: 25rem;
    height: 3.75rem;
    border-radius: 2rem;
    margin-top: 3.125rem;
  }
  .section1 .form input[type="text"] {
    width: 12.5rem;
    height: 1.25rem;
    outline: none;
    border: 0rem;
    font-size: 1.25rem;
  }
  footer {
    width: 10rem;
  }
  footer p {
    font-size: 1.5rem;
  }
  footer .name {
    margin-top: 0.3125rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .name img {
    width: 2rem;
  }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0rem 0.5rem 0rem 0.5rem;
    margin-top: -2.5rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resultheader p {
    margin: 1.875rem 0rem 1.875rem 0rem;
  }
  .back p {
    font-size: 1.2rem;
  }
  .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 15rem;
    height: 3rem;
    background-color: #f48134;
    border-radius: 0.5rem;
    margin: 10% 0rem 0.625rem 0rem;
  }
  .about {
    margin-top: -15%;
  }
  .about h1 {
    margin: 0 3.125rem 0 3.125rem;
    text-align: left;
    font-size: 5rem;
  }
  .about p {
    margin: 1.875rem 3.125rem 0 3.125rem;
    font-size: 1.875rem;
    font-weight: 200;
    text-align: left;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    font-size: 2.2vh;
  }
  .parent {
    overflow: hidden;
  }
  h1 {
    font-size: 4.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  .section1 {
    margin-top: -20%;
  }
  .section1 p {
    margin-top: 1.5625rem;
    font-size: 1.5625rem;
  }
  .section1 .form {
    width: 25rem;
    height: 3.75rem;
    border-radius: 2rem;
    margin-top: 3.125rem;
  }
  .section1 .form input[type="text"] {
    width: 12.5rem;
    height: 1.25rem;
    outline: none;
    border: 0rem;
    font-size: 1.25rem;
  }
  .section1 .form img {
    margin-top: 0.256125rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  footer {
    width: 10rem;
  }
  footer .name {
    margin-top: 0.3125rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .name img {
    width: 1.875rem;
  }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin: 0rem 0.9375rem 0rem 0.9375rem;
    margin-top: -2.5rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resultheader p {
    margin: 0.625rem 0rem 2rem 0rem;
  }
  .back p {
    font-size: 1.25rem;
  }
  .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 18.75rem;
    height: 2.8125rem;
    background-color: #f48134;
    border-radius: 0.5rem;
    margin: 2rem 0rem 0.625rem 0rem;
  }
  .about {
    margin-top: -8%;
  }
  .about h1 {
    margin: 0 250px 0 250px;
    text-align: center;
    font-size: 5rem;
  }
  .about p {
    width: 550px;
    margin: 48px 400px 0 400px;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: left;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 10rem;
}

.lds-grid div {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: linear-gradient(95deg, #fdc830, #f37335);
  -webkit-animation: lds-grid 1.2s linear infinite;
          animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 0.5rem;
  left: 0.5rem;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 0.5rem;
  left: 2rem;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 0.5rem;
  left: 3.5rem;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 2rem;
  left: 0.5rem;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 2rem;
  left: 2rem;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 2rem;
  left: 3.5rem;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 3.5rem;
  left: 0.5rem;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 3.5rem;
  left: 2rem;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 3.5rem;
  left: 3.5rem;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=App.css.map */