* {
  margin: 0 auto;
}

$mainbg: #0f0e17;
$fontgradient: linear-gradient(95deg, #fdc830, #f37335);
$gray: #909090;

.parent {
  width: 100vw;
  min-height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainbg;
  position: relative;
}
html {
  height: -webkit-fill-available;
}
h1 {
  font-family: "Inter";
  font-weight: bold;
  font-size: 48px;
  background: $fontgradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "Ubuntu";
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
a {
  text-decoration: none;
}
.section1 {
  display: flex;
  flex-direction: column;
  margin-top: -30%;
  p {
    margin-top: 20px;
  }
  .form {
    width: 300px;
    height: 50px;
    border-radius: 32px;
    background: white;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: flex-start;

    input[type="text"] {
      width: 200px;
      height: 20px;
      outline: none;
      border: 0px;
      font-size: 20px;
      font-family: "Ubuntu";
    }
  }
}

footer {
  width: 130px;
  position: absolute;
  bottom: 18px;
  font-size: 20px;
  .detail {
    font-weight: 200;
    color: $gray;
  }
  .name {
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 160px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $fontgradient;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
