* {
  margin: 0 auto;
}

.parent {
  width: 100vw;
  min-height: 100vh;
  height: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0f0e17;
  position: relative;
}

html {
  height: -webkit-fill-available;
}

h1 {
  font-family: "Inter";
  font-weight: bold;
  font-size: 48px;
  background: linear-gradient(95deg, #fdc830, #f37335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "Ubuntu";
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -30%;
}

.section1 p {
  margin-top: 20px;
}

.section1 .form {
  width: 300px;
  height: 50px;
  border-radius: 32px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section1 .form input[type="text"] {
  width: 200px;
  height: 20px;
  outline: none;
  border: 0px;
  font-size: 20px;
  font-family: "Ubuntu";
}

.section1 .form img:hover {
  cursor: pointer;
}

.submitsvg {
  width: 20;
  height: 21;
}

footer {
  width: 130px;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
}

footer .detail {
  font-weight: 200;
  color: #909090;
}

footer .name {
  margin-top: 5px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  margin-top: -20%;
}

.about h1 {
  margin: 0 0 0 30px;
  text-align: left;
  font-size: 44px;
}

.about p {
  margin: 30px 30px 0 30px;
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95vh;
  margin: 0px 15px 0px 15px;
  text-align: center;
  margin-top: -15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resultheader {
  white-space: pre-line;
}

.resultheader p {
  margin: 20px 0px 10px 0px;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 310px;
  height: 50px;
  background-color: #f48134;
  border-radius: 8px;
  margin: 10% 0px 10px 0px;
}

.notenough {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  height: 50vh;
}

.notenough h2 {
  font-family: "Inter";
  color: white;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 160px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(95deg, #fdc830, #f37335);
  -webkit-animation: lds-grid 1.2s linear infinite;
          animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=App.css.map */