* {
  margin: 0 auto;
}

$mainbg: #0f0e17;
$fontgradient: linear-gradient(95deg, #fdc830, #f37335);
$gray: #909090;

.parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainbg;
}

h1 {
  font-family: "Inter";
  font-weight: bold;
  font-size: 48px;
  background: $fontgradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "Ubuntu";
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.section1 {
  display: flex;
  flex-direction: column;
  margin-top: -30%;
  p {
    margin-top: 20px;
  }
  .form {
    width: 300px;
    height: 50px;
    border-radius: 32px;
    background: white;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: flex-start;

    input[type="text"] {
      width: 200px;
      height: 20px;
      outline: none;
      border: 0px;
      font-size: 20px;
      font-family: "Ubuntu";
    }
  }
}

footer {
  position: absolute;
  bottom: 18px;
  font-size: 20px;
  .detail {
    font-weight: 200;
    color: $gray;
  }
  .name {
    margin-left: -10%;
    margin-top: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}
