* {
  margin: 0 auto;
}

.parent {
  width: 100vw;
  min-height: 100vh;
  height: -webkit-fill-available;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0f0e17;
  position: relative;
}

html {
  height: -webkit-fill-available;
}

h1 {
  font-family: "Inter";
  font-weight: bold;
  font-size: 48px;
  background: linear-gradient(95deg, #fdc830, #f37335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "Ubuntu";
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -30%;
}

.section1 p {
  margin-top: 20px;
}

.section1 .form {
  width: 300px;
  height: 50px;
  border-radius: 32px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section1 .form input[type="text"] {
  width: 200px;
  height: 20px;
  outline: none;
  border: 0px;
  font-size: 20px;
  font-family: "Ubuntu";
}

.section1 .form img:hover {
  cursor: pointer;
}

.submitsvg {
  width: 20;
  height: 21;
}

footer {
  width: 130px;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
}

footer .detail {
  font-weight: 200;
  color: #909090;
}

footer .name {
  margin-top: 5px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  margin-top: -20%;
}

.about h1 {
  margin: 0 0 0 30px;
  text-align: left;
  font-size: 44px;
}

.about p {
  margin: 30px 30px 0 30px;
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95vh;
  margin: 0px 15px 0px 15px;
  text-align: center;
  margin-top: -15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resultheader {
  white-space: pre-line;
}

.resultheader p {
  margin: 20px 0px 10px 0px;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 310px;
  height: 50px;
  background-color: #f48134;
  border-radius: 8px;
  margin: 10% 0px 10px 0px;
}

.notenough {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  height: 50vh;
}

.notenough h2 {
  font-family: "Inter";
  color: white;
}

.desktopText {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobileText {
    display: none;
  }
  .desktopText {
    display: block;
  }
  h1 {
    font-size: 85px;
  }
  p {
    font-size: 35px;
  }
  .section1 {
    margin-top: -15%;
  }
  .section1 p {
    margin-top: 40px;
    font-size: 25px;
  }
  .section1 .form {
    width: 400px;
    height: 60px;
    border-radius: 32px;
    margin-top: 50px;
  }
  .section1 .form input[type="text"] {
    width: 200px;
    height: 20px;
    outline: none;
    border: 0px;
    font-size: 20px;
  }
  footer {
    width: 230px;
  }
  footer .name {
    margin-top: 5px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .name img {
    width: 50px;
  }
  .resultheader p {
    margin: 30px 0px 30px 0px;
  }
  .back p {
    font-size: 30px;
  }
  .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 350px;
    height: 70px;
    background-color: #f48134;
    border-radius: 8px;
    margin: 10% 0px 10px 0px;
  }
  .about {
    margin-top: -15%;
  }
  .about h1 {
    margin: 0 50px 0 50px;
    text-align: left;
    font-size: 80px;
  }
  .about p {
    margin: 30px 50px 0 50px;
    font-size: 30px;
    font-weight: 200;
    text-align: justify;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .parent {
    overflow: hidden;
  }
  h1 {
    font-size: 72px;
  }
  p {
    font-size: 20px;
  }
  .section1 {
    margin-top: -15%;
  }
  .section1 p {
    margin-top: 25px;
    font-size: 25px;
  }
  .section1 .form {
    width: 400px;
    height: 60px;
    border-radius: 32px;
    margin-top: 50px;
  }
  .section1 .form input[type="text"] {
    width: 200px;
    height: 20px;
    outline: none;
    border: 0px;
    font-size: 20px;
  }
  footer {
    width: 130px;
  }
  footer .name {
    margin-top: 5px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .name img {
    width: 30px;
  }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin: 0px 15px 0px 15px;
    margin-top: -40px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resultheader p {
    margin: 10px 0px 10px 0px;
  }
  .back p {
    font-size: 20px;
  }
  .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
    height: 45px;
    background-color: #f48134;
    border-radius: 8px;
    margin: 20px 0px 10px 0px;
  }
  .about {
    margin-top: -10%;
  }
  .about h1 {
    margin: 0 250px 0 250px;
    text-align: center;
    font-size: 80px;
  }
  .about p {
    margin: 60px 250px 0 250px;
    font-size: 24px;
    font-weight: 200;
    text-align: justify;
  }
}
/*# sourceMappingURL=main px backup.css.map */